.bestsellers {
  margin-bottom: 30px;
}

.title_dimensions {
  margin: 20px 0 30px 0;
}

.title_dimensions h2 {
  margin: 0;
  font-size: 30px;
}

.title_dimensions small {
  color: #888;
  font-size: 15px;
}

.item_slick {
  margin-top: 10px;
}
.item_slick:hover {
  cursor: pointer;
}
.item_slick img {
  width: 164px;
  height: auto;
}
.item_slick h3 {
  margin-top: 20px;
  padding: 0 20px;
}
.item_slick p {
  margin-top: 10px;
  padding: 0 20px;
}
.item_slick a {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 20px;
}
