.product_img {
  width: 100%;
}

.product_title {
  margin-bottom: 20px;
}

.product_title h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.product_title small {
  font-size: 14px;
  color: #888;
}

.product_content p {
  color: #888;
  
}

.product_dimensions {
  margin-top: 30px;
}

.price_styles {
  font-size: 40px;
  color: #888;
  font-weight: 300;
}

.btn_add_to_cart{
  background: #eeeeee;
  padding: 7px 20px;
  border: none;
}

.btn_add_to_cart:hover{
  background-color: #1b1b1b;
  color: white;
}

.inline-group {
  max-width: 9rem;
  padding: .5rem;
}

.count {
  padding: 6px 30px 5px;
}

.add_product {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  background-color: #eeeeee;
}

.product_button {
  border: none;
  padding: 7px 20px;
}

.product_button:hover {
  background-color: #1b1b1b;
  color: white;
}

.star_rating {
  margin-bottom: 30px;
}