.list_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.list_menu li {
  font-size: 13px;
  font-weight: 300;
}
  
.menu_item h3 {
  font-size: 15px;
  font-weight: 400;
}

.copyright {
  margin: 40px 0;
  border-top: solid 1px #eee;
  padding-top: 40px;
}